@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    overflow: hidden;
}

:not(pre, .error, #console_elapsed) {
    font-family: Roboto;
}

body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #FFF;
}

#gameicon {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateY(50vh);
    padding: 0.5vw;
    transition: 0.2s;
}

#gameicon:hover {
    background-color: rgba(131, 131, 131, 0.214);
    border-radius: 2vw;
    transition: 0.2s;
    margin-right: 0.7vw;
    cursor: pointer;
}

.icontooltip{
    opacity: 0;
    background-color: rgb(53, 53, 53);
    border: rgb(75, 75, 75) solid 2px;
    border-radius: 5px;
    position: absolute;
    transition: 0.3s;
    padding: 0.4vh;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-weight: 550;
    color: white;
}

#gameicon:hover .icontooltip {
    opacity: 1;
    transform: translateX(-120%);
    transition: 0.2s ease-out;
}

.gamearrow{
    opacity: 0;
    transition: 0.4s;
}

#gameicon:hover .gamearrow{
    margin-left: 0.6vw;
    opacity: 1;
    transition: 0.4s;
}

.logo-wrapper h1 {
    color: white;
}

form {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
    text-align: center;
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.3vw;
    cursor: pointer;
}

#or {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/// Console Css Below ///

#fakeconsole {
    background-color: red;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 3vh;
    width: 30%;
    height: 30vh;
    right: 0;
    left: 0;
    transform: translateX(35vw);
    overflow: scroll;
}
#fakeconsole_output {
    color: white;
    text-align: left;
    font-size: 1.5vh;
    height: 100%;
    margin: 0;
}
/// Width
::-webkit-scrollbar {
    width: 10px;
}
/// Track
::-webkit-scrollbar-track {
    background: #790c0cf1; 
    opacity: 0;
  }
/// Handle
::-webkit-scrollbar-thumb {
    background: #888; 
  }

.bookmarks {
    position: absolute;
}
.bookmarks h1 {
    transform: translateX(5vw) translateY(8vh);
    color: white;
    font-size: 2vh;
}
.bookmark {
    padding-left: 5%;
    margin-top: 1.3vh;
    align-items: center;
}
.bookmark:hover {
    background-color: rgba(138, 138, 138, 0.3);
}
#bookmark_list {
    background-color: rgba(75, 75, 75, 0.6);
    position: absolute;
    width: 19vw;
    height: 70vh;
    font-size: 1.7vh;
    transform: translateX(5vw) translateY(15vh);
    overflow: scroll;
    overflow-x: hidden;
}
.bookmark-title {
    color: white;
    font-weight: 450;
    text-decoration: none;
}
.bookmark-title:hover {
    text-decoration: underline;
    transition: 0.4s;
}
.bookmark-url {
    margin-top: 0.7vh;
    color: rgb(138, 138, 138);
    font-weight: 400;
}
.bm-delete {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    border: none;
    transform: translateX(14vw) translateY(-7vh);
}
.addbookmark {
    background-color: black;
    border: 4px solid rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 30vh;
    transform: translateY(-40vh);
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    z-index: 1;
}
.addbookmark.active {
    opacity: 1;
    transition: 0.4s;
    pointer-events: all;
}
.addbookmark h1 {
    color: white;
    font-size: 3vh;
    z-index: 1;
}
.addbookmark input {
    z-index: 1;
}
.addbookmark button {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(12vw);
}
#blur {
    width: 200vw;
    height: 200vh;
    background-color: green;
    position: absolute;
    transform: translateX(-100vw);
    opacity: 0;
}
#warning {
    width: 17vw;
    word-wrap: break-word;
    z-index: 12;
    position: absolute;
    transform: translateX(5.9vw) translateY(35vh);
    color: white;
    font-size: 2vh;
}
#addbtn {
    display: none;
}
